<!-- CONTACT HEADER -->
		<div class="contact-header-container">
			<div class="row">
				<div class="contact-header-left-div col-10">
					<ul class="contact-header-li">
						<li>
							<i class="fas fa-phone" style="color: #d10024"></i>
							<a href="">+92 3161782050</a>
						</li>
						<li>
							<i class="far fa-envelope" style="color: #d10024"></i>
							<a href="">playspot@support.com</a>
						</li>
						<li>
							<i class="fas fa-search-location" style="color: #d10024"></i>
							<a href="">Lahore</a>
						</li>
					</ul>
				</div>
				<div class="contact-header-right-div col-2 d-flex p-0 justify-content-end">
					<ul class="contact-header-li">
						<li>
							{{#if sessionExists}}
								<i class="fas fa-user-circle" style="color: #d10024"></i>
								<a href="">My Account</a>
							{{/if}}
						</li>
					</ul>
				</div>
			</div>
		</div>