<!-- CREATORS -->
		<section class="creators-section">
			
    		<div class="container-fluid">

    			<div class="row">
    				<div class="col-12">
    					<h2 class="font-weight-bold" style="color: #ffffff;">Creators</h2>	
    				</div>    				
    			</div>

    			<div class="row mt-3">

    				<!-- SAULAT JAHAN -->
    				<div class="col-md-4">
    		    		<div class="card profile-card">
    		        		<div class="background-block">
    		            		<img src="images/profile-background.jpg" alt="profile-sample1" class="background"/>
    		        		</div>
    		        		<div class="profile-thumb-block">
    		            		<img src="https://instagram.flhe2-1.fna.fbcdn.net/v/t51.2885-15/e35/60354194_195353388101722_7239969864676086442_n.jpg?_nc_ht=instagram.flhe2-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=AeiiX9Xk3PoAX_ynA7A&oh=0eaabfe17e191c5afb1137ff5dec6ef9&oe=5EA53201" class="profile"/>
    		        		</div>
    		        		<div class="card-content">
                    			<h2>Saulat Jahan<small class="font-weight-bold">Designer</small></h2>
                    			<div class="icon-block">
									<a href="https://web.facebook.com/saul.jhn"><i class="fab fa-facebook-f"></i></a>
                    				<a href="https://www.instagram.com/meinhoonjahan/"><i class="fab fa-instagram"></i></a>
                    				<a href="#"> <i class="fab fa-google-plus-g"></i></a>
                    			</div>
                    		</div>
                		</div>              
    				</div>                    				

    			<!-- MUHAMMAD USAMA -->
    			<div class="col-md-4">
    		    	<div class="card profile-card">
		        		<div class="background-block">
		            		<img src="images/profile-background.jpg" alt="profile-sample1" class="background"/>
		        		</div>
		        		<div class="profile-thumb-block">
		            		<img src="https://instagram.flhe2-1.fna.fbcdn.net/v/t51.2885-19/s150x150/88281181_805974856568706_6809515234416394240_n.jpg?_nc_ht=instagram.flhe2-1.fna.fbcdn.net&_nc_ohc=AHs02YxXPRgAX9xiTDh&oh=6b0e38f2dc9a857eeb631bb20af3fc58&oe=5EA418AC" class="profile"/>
		        		</div>
		        		<div class="card-content">
		            		<h2>Muhammad Usama<small class="font-weight-bold">Full Stack Developer</small></h2>
		            		<div class="icon-block">
		        				<a href="https://web.facebook.com/muhammad.usama.shakel"><i class="fab fa-facebook-f"></i></a>
		        				<a href="https://www.instagram.com/_muhammad_usama_/"><i class="fab fa-instagram"></i></a>
		        				<a href="#"> <i class="fab fa-google-plus-g"></i></a>
		            		</div>
	                	</div>
            		</div>              
    			</div>

    			<!-- MATEEN BAIG -->
    			<div class="col-md-4">
		    		<div class="card profile-card">
		        		<div class="background-block">
		            		<img src="images/profile-background.jpg" alt="profile-sample1" class="background"/>
		        		</div>
		        		<div class="profile-thumb-block">
		            		<img src="https://scontent.flhe2-2.fna.fbcdn.net/v/t1.0-9/90351484_138568357687163_7364848948101513216_n.jpg?_nc_cat=103&_nc_sid=85a577&_nc_eui2=AeESjBQcHxxPkglm3M3t4_hH_ieeuQRWicdIxl4vqQsvpH6qMUkNInmDa-S3tJ9wI6-1AANJYQEEF1smGWYzqmAzRqy_xVTbtVXD_SVYHpxX4Q&_nc_oc=AQmiY74PF66_8qMC_rElAbd5sLFQru8__Go4AOkAuA9dOSNIKH4PKd2XSXhbMUcoung&_nc_ht=scontent.flhe2-2.fna&oh=f0b5e690ee3b0f8d6cc70757bc6f3684&oe=5E9FEF50" class="profile"/>
		        		</div>
			        	<div class="card-content">
		            		<h2> Muhammad Mateen Baig<small class="font-weight-bold">Designer</small></h2>
		            		<div class="icon-block">
		            			<a href="https://web.facebook.com/muhammad.mateenbaig"><i class="fab fa-facebook-f"></i></a>
		        				<a href="https://www.instagram.com/baig_512/"><i class="fab fa-instagram"></i></a>
		        				<a href="#"> <i class="fab fa-google-plus-g"></i></a>
		            		</div>
		            	</div>
            		</div>              
    			</div>

    			</div>
    		</div>
		</section>