<!-- FOOTER  -->
		<div class="page-footer font-small container-footer">
				<div class="text-center">
					<div class="row justify-content-center">
						<div class="col-6 headings">
							<h5 class="font-weight-bold mt-3 mb-2">Information</h5>
							<ul class="links">
								<li><a href="#">About Us</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Terms & Conditions</a></li>
							</ul>
						</div>									
						<div class="col-6 headings">
							<h5 class="font-weight-bold mt-3 mb-2">Services</h5>
							<ul class="links">
								<li><a href="#">My Account</a></li>
								<li><a href="#">View Cart</a></li>
								<li><a href="#">Wishlist</a></li>
								<li><a href="#">Help</a></li>
							</ul>
						</div>
					</div>
				</div>						
		</div>