<html>
    <head>

    </head>
    <body>
    	<form action="/addgame" method="post" enctype="multipart/form-data">
    		Name:
    		<input type="text" name="name">	
    		<br>
	        Category:
	        <input type="text" name="category">
	        <br>
	        Price:
	        <input type="number" name="price">
	        <br>
	        Image:
	        <input type="file" name="file-to-upload">
	        <br>
	        <input type="submit" value="Upload">
    	</form>        
    </body>
</html>